span{
        opacity: 0;
        animation-name: fade;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        position: relative; 
        float: left;
        top: 5px;
        left: 15px; 
        font-size: 22px;
        padding: 0.5em;
        line-height: 0.5em; 
        width: 0.5em;
        border-radius: 2em;
        background-color: #f33e41;
    }
body{
        margin: 0;
        cursor: pointer;
        box-sizing: border-box; 
        padding: 150px 0 0 0;
        background: url("images/pexels\ \(5\).jpg");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;}
      *{
          transition: all 1s cubic-bezier(1, 0, 0, 1);
    }
    #trigger{
        background-color: #f33e41;

    }
a{
    text-decoration: none;
    color: black;
    background-color: rgb(16, 245, 8);
    border: 1px solid transparent;
    border-radius: 5%;
    padding: 10px 20px;position: relative;margin-top: 30%;left: 30%; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.modal{
    /* background-color: rgba(0,0,0,0.5); */ 
    display: none;
     width: 100%;
     height: 50vh;
     z-index: 3;
     margin: 13% 0 0 0;
    }
    .modal-content{
        height: 400px;
        width: 600px;
        background-color: rgba(0, 0, 0,0.7);
        border: 5px solid #f33e41;
        border-radius: 1%;
        border-left: none;
        border-right: none; 
        position: relative; 
        top: -150px; 
        left: 3%;
        animation-name: linux;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    }
    h1{
        opacity: 0;
        position: relative;
        left: -5%;
        top: 150px;
        animation-name: fade;
        animation-duration: 2s;
        animation-delay: 3s;animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        color: white;
        text-transform: uppercase;
        font-size: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
        @keyframes fade{
            from{opacity: 0;}
            to{opacity: 1;}
        }
            @keyframes linux
            {
                0%{
                    width: 0px;height: 0;}25%{width: 0;height: 0;}50%{width: 600px;height: 0;}
            100%{height: 400px;opacity: 1;}
}
form{
    opacity: 0;
    position: relative;
    top: 20px;
    animation: fade 2s ease-out;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

form input{
    width: 300px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #f33e41;
    border-radius: 2px;
    font-size: 13px;
    background-color: transparent;
    color: #f33e41;
    font-family: Arial, Helvetica, sans-serif;
}
 form input:focus{
    background-color: white;
    color: black;
}

 textarea{
     background-color: transparent;
     height: 50px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #f33e41;
    border-radius: 2px;
    color: white;
    background-color: transparent;
    overflow-y: hidden;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
 ::placeholder{
    color: #f33e41;
    opacity: 1;
}
 textarea:focus{
    background-color: white;
    color: black;
}
button{
    border: 3px solid black;
    color: black;
    border-radius: 5px;
    background-color: white;
    width: 330px;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 10px 10px 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 button:hover{
    background-color: #f33e41;
    border: 3px solid #f33e41;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transform: scale(0.9);
}
 h3{
    border-bottom: 4px solid #c73639;
    width: max-content;
    padding-bottom: 20px;
    font-size: 20px;
    border-start-end-radius: 15px;
    color: #f33e41;
}
 label{
     color: #f33e41;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}